.authButtons {
  outline: none;
  width: 50%;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
}
.transparent {
  color: white;
  background: transparent;
  border: 1px solid white;
}

.opaque {
  color: white;
  background: #21b6a8;
  border: 1px solid white;
}
